// Place all the styles related to the Tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
  background-color: lightgreen;
  height: 170px;
  color: white;
  font-size: 40px;
  text-align: center;
}

.nav-spacing {
  margin-top: 1px;

}
